h1 { 
    border-bottom: 2px 
    solid #000; 
    padding-bottom:3px;
}
table{
    margin: 3em;
}
.markdown-section table{
    width: 80%;
}
.page-inner {
    margin: 3em auto 0;  
}
.book-header{
    position: fixed;
    background-color: #fff;
    width:100%;
}